<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <form action="/result" method="post">
        {% csrf_token %}
        <h1>Dojo Survey</h1>

        <p>Your Name: <input name="name" type="text"></p>
        <p>Dojo Location:<select name="location">
            {% for loc in location %}
            <option value="{{loc}}">{{ loc }}</option>
            {% endfor %}
        </select></p>
        <p>Favorite Language:<select name="favorite_language">
            {% for lang in favorite_language %}
            <option value="{{lang}}">{{ lang }}</option>
            {% endfor %}
        </select></p>
        <p>Comment (optional)</p>
        <textarea name="comment"></textarea>
        <p><input type="submit" value="Button"></p>
    </form>
</body>
</html>